form{
    /* /* border: 5px soid black; 
    display: inline-block;
    padding: 10px; */
    margin: 0 auto;
    width: 1100px;
    height: 100px; 

}
.fromne{
    /* border: 5px soid black;  */
    /* display: inline-block; */
    /* padding: 10px; */
    /* margin: 0 auto; */
    /* width: 1100px; */
    /* height: 100px; */
}